<!-- <div class="listings-wrapper">
  <h2>All Listings</h2>
  <ul class="listings">
    <% for(let listing of listings) { %>
    <li class="listing">
      <span class="listing-name"><%= listing.name %></span>
      <span class="details"
        ><a href="/listings/<%= listing.id %>"
          ><button class="btn-primary-custom">View Details</button></a
        ></span
      >
    </li>
    <% } %>
  </ul>
</div> -->
<h2 class="all-listings">All Listings</h2>
<div class="listings-wrapper">
  <% for (let listing of listings) { %>
  <div class="card listings" style="width: 18rem">
    <img
      class="card-img-top"
      src="<%= result.webformatURL %>"
      alt="Card image cap"
    />

    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.description %></p>
      <a href="/listings/<%= listing.id %>" class="btn btn-primary"
        >View Details</a
      >
    </div>
  </div>
  <% } %>
</div>
